In [1]:
import pandas as pd

In [2]:
start_date = '2016-01-01'
end_date = '2017-09-30'

In [3]:
index_date_range = pd.DatetimeIndex(start=start_date, end=end_date, freq='5Min')

In [8]:
df_blank_sample = pd.DataFrame(columns=['Thermostat_Motion','T_ctrl', 'T_out', 'T_stp_cool', 'T_stp_heat'],index=index_date_range,data=0)
df_blank_sample[['T_ctrl', 'T_out', 'T_stp_cool', 'T_stp_heat']] = 700.

## Test set 1 - home on weekends

In [9]:
def weekday_occ_map(dow):
    if dow > 4:
        return 1
    else:
        return 0

In [10]:
df_user1 = df_blank_sample.copy()
df_user1['Thermostat_Motion'] = df_user1.index.weekday.map(weekday_occ_map)

In [12]:
df_user1.head()

                     Thermostat_Motion  T_ctrl  T_out  T_stp_cool  T_stp_heat
2016-01-01 00:00:00                  0   700.0  700.0       700.0       700.0
2016-01-01 00:05:00                  0   700.0  700.0       700.0       700.0
2016-01-01 00:10:00                  0   700.0  700.0       700.0       700.0
2016-01-01 00:15:00                  0   700.0  700.0       700.0       700.0
2016-01-01 00:20:00                  0   700.0  700.0       700.0       700.0

In [13]:
df_user1.to_csv("../data/user1.xz",compression='xz')

## Test set 2 - away 9 to 5 everyday

In [14]:
def hour_of_day(hour):
    if (hour > 8) & (hour < 17):
        return 0
    else:
        return 1

In [15]:
df_user2 = df_blank_sample.copy()
df_user2['Thermostat_Motion'] = df_user2.index.hour.map(hour_of_day)

In [16]:
df_user2.head()

                     Thermostat_Motion  T_ctrl  T_out  T_stp_cool  T_stp_heat
2016-01-01 00:00:00                  1   700.0  700.0       700.0       700.0
2016-01-01 00:05:00                  1   700.0  700.0       700.0       700.0
2016-01-01 00:10:00                  1   700.0  700.0       700.0       700.0
2016-01-01 00:15:00                  1   700.0  700.0       700.0       700.0
2016-01-01 00:20:00                  1   700.0  700.0       700.0       700.0

In [17]:
df_user2.to_csv("../data/user2.xz",compression='xz')